<h3>Add a New Blog</h3>
<%= form_with model: @blog do |form| %>

  <%= form.label :title %>
    <%= form.text_field :title %>
    <br>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <br>
     <%= form.submit 'Submit Blog' %>
     <%= form.submit 'Clear', :type => 'reset' %>
<% end %>

<br>

<p> <%= link_to 'Back to Blog Posts', blogs_path %> </p>