<h3>Add a New Blog</h3>
<%= form_with url: '/blogs', local: true do |form| %>

  <%= form.label :activity %>
  <%= form.text_field :activity %>

  <br>
  <%= form.label :description %>
  <%= form.text_field :description %>

  <br>
  <%= form.submit 'Add Form' %>
<% end %>